:root{
    --primary: #FF0062;
    --black: #000000;
    --lightGrey: #F6F6F6; 
    --primaryHover: rgb(255, 36, 120);
}

img{
    max-width: 500px;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 13px;
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
    box-sizing: border-box;
}

.accent{
    color: var(--primary);
}

a img{
    width: 10px;
    margin-left: 4px;
}

.accentButton{
    padding: 8px 13px;
    background-color: var(--primary);
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin-right: 13px;
}

.accentButton:hover{
    background-color: var(--primaryHover);
}

.button{
    padding: 8px 13px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.3px;
    position: relative;
}

.button:before{
    content: "";
    position: absolute;
    bottom: 3px;
    left: 13px;
    height: 2.5px;
    width: 0px;
    opacity: 0;
    background-color: var(--primary);
    transition: .3s linear all;
}

.button:hover:before{
    width: calc(100% - 27px);
    opacity: 1;
}


.footerButton{
    padding: 8px 13px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.4px;
    padding-left: 0;
    position: relative;
}

.footerButton:before{
    content: "";
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 2.5px;
    width: 0px;
    opacity: 0;
    background-color:var(--primary);
    transition: .3s linear all;
}

.footerButton:nth-of-type(1):hover:before{
    width: calc(100% - 27px);
    opacity: 1;
}

.footerButton:nth-of-type(2):hover:before{
    width: calc(100% - 14px);
    opacity: 1;
}

.bold{
    font-weight: bold;
}

.upperCase{
    text-transform: uppercase;
}

.space{
    letter-spacing: 1%;
}

nav {
    
}

nav #logo {
    position: fixed;
    width: 22px;
    top: 28px;
    left: 25px;
    /* height: 100px; */
    z-index: 10;
}

nav .navList{
    list-style-type: none;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 28px;
    right: 13px;
    z-index: 10;
}

nav .navList li{
    display: block;
    /* border: 1px solid red; */
    padding: 4px 12px;
    text-align: right;
}

/* nav link animation BELOW */

nav .navList li a{
    position: relative;
    padding: 0 3px;
    z-index: 25;
}

nav .navList li a:before{
    background-color: black;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    transition: 0.2s linear width;
    z-index: -1;
    opacity: 0;

}

nav .navList li a:hover:before{
    width: 100%;
    opacity: 1;
}

nav .navList li a:hover{
    color: white;
}


/* nav link animation ABOVE */

nav .navList a, nav .navList a:visited{
    text-decoration: none;
    color: black;
    font-size: 14px;
}  

nav .socialList{
    position: fixed;
    padding: 0;
    margin: 0;
    bottom: 28px;
    right: 25px;
    z-index: 10;
}

nav .socialList li{
    display: inline-block;
    padding: 8px 12px;
    /* border: 1px solid red; */
}

nav .socialList a, nav .socialList a:visited{
    text-decoration: none;
    color: var(--primary);
    font-size: 14px;
}  

.caseStudy{
    padding-top: 200px;
    position: relative;
    /* width: 100vw; */
    width: 100%;
    overflow-x: hidden;
    /* border: 1px solid red; */
}

.caseStudy h2:nth-of-type(1), .caseStudy p:nth-of-type(1), .caseStudy p:nth-of-type(2), .caseStudy p:nth-of-type(3), .caseStudy p:nth-of-type(4){
    max-width: 1100px;
    /* margin: 0 auto; */
    /* border: 1px solid red; */
}

.caseStudy h2{
    font-size: 48px;
    margin: auto;
    margin-bottom: 60px;
    padding: 0 20px;
}

.caseStudy .intro{
    font-size: 24px;
    line-height: 150%;
    margin: auto;
    margin-bottom: 60px;
    /* border: 1px solid red; */
    padding: 0 20px;
}

.caseStudy .subTitle{
    font-size: 24px;
    margin: auto;
    margin-bottom: 10px;
    padding: 0 20px;
}

.caseStudy .img1{
    min-width: 1400px;
    /* border: 1px solid red; */
    display: block;
    margin: 0 auto;
    position: relative;
    top: -150px;
    z-index: -1;
    /* border: 1px solid purple; */
}

.caseStudy .columnStart{
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    top: -300px;
    padding: 0 25px;
}

.subHead{
    font-size: 48px;
    margin-bottom: 30px;
    margin-top: 30px;
}

p{
    font-size: 18px;
    line-height: 175%;
}

.indent1 {
    padding-left: 70px;
}

.columnStart .twoBulletLayout{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* border: 1px solid green; */
    padding-left: 90px;
}

#mentalResearch{
    /* border: 1px solid green; */
    /* display: inline-block; */
    /* margin-left: 90px; */
    /* width: calc(100% / 2 - 100px); */
    /* margin-top: 0; */
    /* position: relative; */
    /* top: -10px; */
    padding-left: 10px;
    padding-right: 10px;
    line-height: 170%;
}

#mentalResearch p{
    margin-top: 0;
    margin-bottom: 0;
}

#mentalResearch ul{
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 17px;
    padding-top: 0;
    /* border: 1px solid red; */
    font-size: 16px;
}

#physicalResearch{
    /* border: 1px solid green; */
    /* display: inline-block; */
    /* margin-left: 90px; */
    /* width: calc(100% / 2 - 100px); */
    /* position: relative; */
    /* top: 14px; */
    /* margin-bottom: 20px; */
    line-height: 170%;
    padding-left: 10px;
    padding-right: 10px;
}

#physicalResearch p{
    margin-top: 0;
    margin-bottom: 0;
}

#physicalResearch ul{
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 17px;
    padding-top: 0;
    /* border: 1px solid red; */
    font-size: 16px;
}

.indent2 {
    font-size: 16px;
    line-height: 170%;
    padding-left: 120px;
}

.twoImageLayout{
    padding: 0;
    margin: 0;
    /* width: 1000px; */
    max-width: 800px;
    margin-top: 40px;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    /* justify-content: center; */
}

.columnStart #proCon{
    padding-left: 10px;
}

.twoImageLayout img{
    /* max-width: 50%; */
    justify-self: center;
    display: block;
}

.subHead2{
    font-size: 24px;
    /* font-weight: 400; */
    margin-top: 30px;
    margin-bottom: 20px; 
}

#calmGood{
    /* border: 1px solid red; */
    padding-left: 10px;
    padding-right: 10px;
    /* display: inline-block; */
    /* width: 45%; */
    /* margin: 0; */
    /* position: relative; */
    /* top: -25px; */
}

#calmGood p{
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
}

#calmGood ul{
    padding: 0;
    margin: 0;
    padding-left: 20px;
    font-size: 16px;
    line-height: 170%;
}

#calmBad{
    /* border: 1px solid red; */
    /* display: inline-block; */
    /* width: 45%; */
    padding-left: 10px;
    padding-right: 10px;
    /* margin-left:5%; */
}

#calmBad p{
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
}

#calmBad ul{
    padding: 0;
    margin: 0;
    padding-left: 20px;
    font-size: 16px;
    line-height: 170%;
}

/*  */

#nikeGood{
    /* border: 1px solid red; */
    /* display: inline-block; */
    /* width: 45%; */
    /* margin: 0; */
    /* position: relative; */
    /* top: -25px; */
    padding-right: 10px;
    padding-left: 10px;
}

#nikeGood p{
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
}

#nikeGood ul{
    padding: 0;
    margin: 0;
    padding-left: 20px;
    font-size: 16px;
    line-height: 170%;
}

#nikeBad{
    /* border: 1px solid red; */
    padding-right: 10px;
    padding-left: 10px;
    /* display: inline-block; */
    /* width: 45%; */
    /* margin: 0; */
    /* margin-left:5%; */
}

#nikeBad p{
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
}

#nikeBad ul{
    padding: 0;
    margin: 0;
    padding-left: 20px;
    font-size: 16px;
    line-height: 170%;
}

/*  */

.imgAndContentLayout{
    display: grid;
    grid-template-columns: 30% 70%;
}

.imgAndContentLayout .content p:nth-of-type(2){
    margin-top: 40px;
}

#wireFrame1Good{
    /* border: 1px solid red; */
    /* display: inline-block; */
    /* width: 45%; */
    /* margin: 0; */
    /* position: relative; */
    /* top: -25px; */
    padding-left: 10px;
    padding-right: 10px;
}

#wireFrame1Good p{
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
}

#wireFrame1Good ul{
    padding: 0;
    margin: 0;
    padding-left: 20px;
    font-size: 16px;
    line-height: 170%;
}

#wireFrame1Bad{
    /* border: 1px solid red; */
    /* display: inline-block; */
    /* width: 45%; */
    /* margin: 0; */
    /* margin-left:5%; */
    padding-left: 10px;
    padding-right: 10px;
}

#wireFrame1Bad p{
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
}

#wireFrame1Bad ul{
    padding: 0;
    margin: 0;
    padding-left: 20px;
    font-size: 16px;
    line-height: 170%;
}

.singleImg{
    min-width: 100%;
    width: 100%;
    margin-top: 20px;
}

#wireFrame2{
    margin-bottom: 20px;
}

#wireFrame2Good{
    /* border: 1px solid red; */
    padding-left: 10px;
    padding-right: 10px;
    /* margin-top: 10px; */
    /* display: inline-block; */
    /* width: 45%; */
    /* margin: 0; */
    /* position: relative; */
    /* top: 26px; */
    /* margin-bottom: 30px; */
}

#wireFrame2Good p{
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
}

#wireFrame2Good ul{
    padding: 0;
    margin: 0;
    padding-left: 20px;
    font-size: 16px;
    line-height: 170%;
}

#wireFrame2Bad{
    /* border: 1px solid red; */
    /* display: inline-block; */
    /* width: 45%; */
    /* margin: 0; */
    /* margin-left:5%; */
    padding-left: 10px;
    padding-right: 10px;
}

#wireFrame2Bad p{
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
}

#wireFrame2Bad ul{
    padding: 0;
    margin: 0;
    padding-left: 20px;
    font-size: 16px;
    line-height: 170%;
}

#viewFinal, #viewFinal:visited{
    font-size: 24px;
    text-decoration: none;
    color: var(--primary);
}

.finalUpdates{
    font-size: 16px;
    line-height: 170%;
    /* border: 1px solid red; */
}

.indentLi{
    margin-left: 50px;
}

footer{
    background-color: black;
    color: white;
    position: absolute;
    width: 100%;
    bottom: -250px;
    /* padding-left: calc((100% - 800px) / 2); */
    /* padding-right: calc((100% - 800px) / 2); */
    min-height: 500px;
    /* border: 1px solid red; */
}

.footerContent{
    /* border: 1px solid red; */
    max-width: 800px;
    padding-top: 50px;
    position: relative;
    height: fit-content;
    /* top: 50%; */
    padding-left: 25px;
    padding-right: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.footerContent .subHead2{
    color: var(--primary);
}

.footerContent h2{
    font-size: 48px;
    margin: auto;
    margin-bottom: 40px;
}

.footerContent .jobSeeking{
    margin-top: 50px;
}

.footerContent .jobSeeking h3{
    font-size: 24px;
}

@media(max-width: 1400px) {

    .caseStudy .img1{
        min-width: 100%;
        width: 100%;
        /* border: 1px solid purple; */
    }

    .caseStudy{
        /* background-color: lightblue; */
        /* background-color: rgba(40, 40, 40, 0.3); */
    }

}

@media(max-width: 1000px){

    nav {
        /* position: absolute; */
        height: 0;
    }

    nav .socialList{
        display: none;
    }

    nav #logo{
        position: relative;
        display: inline-block;
    }

    nav .navList{
        position: relative;
        /* background-color: green; */
        float: right;
    }

    nav .navList li{
        display: inline-block;
    }
}

@media (max-width: 1000px) {

    .caseStudy {
        /* background-color: rgba(100, 200, 50, 0.5); */
    }

    .caseStudy .img1 {
        top: -100px;
    }

    .caseStudy .columnStart {
        top: -220px;
    }

    footer{
        bottom: -280px;
    }

}

@media (max-width: 770px) {
    .caseStudy{
        /* background-color: rgba(200, 20, 20, 0.4) */
    }

    .columnStart .imgAndContentLayout{
        grid-template-columns: repeat(1, 1fr);
    }

    #wireFrame1{
        display: block;
        /* margin: 0 auto; */
    }

    .caseStudy h2, .footerContent h2, .subHead{
        font-size: 38px;
    }

    .caseStudy .intro, .caseStudy .subTitle, .footerContent .subHead2, .footerContent .jobSeeking h3{
        font-size: 18px;
    }

}

@media (max-width: 800px) {

    .twoImageLayout{
        min-width: 100%;
        width: 100%;
        /* grid-template-columns: repeat(2, 1fr); */
    }

    .twoImageLayout img{
        width: 100%;
    }

}

@media(max-width: 650px){
    .caseStudy {
        /* background-color: rgba(100, 20, 200, 0.5); */
    }

    .caseStudy .img1{
        top: -70px;
    }

    .caseStudy .columnStart{
        top: -180px;
    }

    .indent1 {
        padding-left: 40px;
    }

    .columnStart .twoBulletLayout{
        padding-left: 60px;
        /* background-color :red; */
    }

    .indent2{
        padding-left: 80px;
    }
    footer{
        bottom: -320px;
    }
}

@media(max-width: 450px){
    .caseStudy {
        /* background-color: rgba(20, 220, 200, 0.5); */
    }

    .caseStudy .img1{
        top: -40px;
    }

    .caseStudy .columnStart{
        top: -120px;
    }

    .twoImageLayout{
        grid-template-columns: repeat(1, 1fr);
    }

    .twoImageLayout img{
        width: 80%;
    }


    .columnStart .twoBulletLayout{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    .indent1 {
        padding-left: 25px;
    }

    .columnStart .twoBulletLayout{
        padding-left: 40px;
        /* background-color :red; */
    }

    .indent2{
        padding-left: 60px;
    }

    #wireFrame1{
        display: block;
        margin: 0 auto;
    }

    .footerContent{
        padding-top: 10px;
    }

    footer {
        min-height: 450px;
        padding-bottom: 30px;
        bottom: -400px;
    }
}
