:root{
    --primary: #FF0062;
    --black: #000000;
    --lightGrey: #F6F6F6; 
    --primaryHover: rgb(255, 36, 120);
}

img{
    max-width: 500px;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    /* background-color: blue; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-size: 13px;
    max-width: 100vw;
    /* letter-spacing: 1px; */
    /* overflow: hidden; */
    overflow-x: hidden;
}

.accent{
    color: var(--primary);
}

a img{
    width: 10px;
    margin-left: 4px;
}

.accentButton{
    padding: 8px 13px;
    background-color: var(--primary);
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.3px;
}

.accentButton:hover{
    background-color: var(--primaryHover);
}

.button{
    padding: 8px 13px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.3px;
    /* button animation content BELOW */
    position: relative;
}

.button:before{
    content: "";
    position: absolute;
    bottom: 3px;
    left: 13px;
    height: 2.5px;
    width: 0px;
    opacity: 0;
    background-color: red;
    transition: .3s linear all;
}

.button:hover:before{
    width: calc(100% - 27px);
    opacity: 1;
}

/* button animation content ABOVE */

.workBox .button img{
    transition: .3s linear margin-left;
}

.workBox .button:hover img{
    margin-left: 10px;
}


.bold{
    font-weight: bold;
}

nav {
    
}

nav #logo {
    position: fixed;
    width: 22px;
    top: 28px;
    left: 25px;
    /* height: 100px; */
    z-index: 10;
}

nav .navList{
    list-style-type: none;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 28px;
    right: 13px;
    z-index: 10;
}

nav .navList li{
    display: block;
    /* border: 1px solid red; */
    padding: 4px 12px;
    text-align: right;
    /* new stuff below */
}

/* nav link animation BELOW */

nav .navList li a{
    position: relative;
    padding: 0 3px;
    z-index: 25;
}

nav .navList li a:before{
    background-color: black;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    transition: 0.2s linear width;
    z-index: -1;
    opacity: 0;

}

nav .navList li a:hover:before{
    width: 100%;
    opacity: 1;
}

/* nav link animation ABOVE */

/* .main .verticalBox .tempBox{ */
    /* background-color: red; */
    /* z-index: 100; */
/* } */



/* #test1{
    position: relative;
}

#test1:before{
    background-color: blue;
    z-index: 8;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
} */

/* #test1:before:hover {
    
} */

/* .main .workBox{
    position: relative;
} */

/* .main .workBox:before{
    background-color: blue;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    top: 100%;
} */

/* .main .workBox:hover{
    background-color: black;
}

.main .workBox img{
} */

nav .navList li a:hover{
    color: white;
}

nav .navList a, nav .navList a:visited{
    text-decoration: none;
    color: black;
    font-size: 14px;
}  

nav .socialList{
    position: fixed;
    padding: 0;
    margin: 0;
    bottom: 28px;
    right: 25px;
    z-index: 10;
}

nav .socialList li{
    display: inline-block;
    padding: 8px 12px;
    /* border: 1px solid red; */
}

nav .socialList a, nav .socialList a:visited{
    text-decoration: none;
    color: var(--primary);
    font-size: 14px;
}  

.hero {
    /* width: 100vw; */
    width: 75%;
    margin: 0 auto;
    height: 100vh;
    /* border: 1px solid red; */
    margin-top: 15px;
}

#contactTrigger br{
    display: none;
}

.searchStatus{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    /* border: 1px solid red; */
}

.searchStatus .online{
    width: 6px;
    height: 6px;
    border: 1px solid #29C22F;
    display: inline-block;
    border-radius: 50%;
    background-color: #29C22F;
    margin-right: 10px;
}

.searchStatus p{
    display: inline-block;
}

.heroContent{
    max-width: 600px;
    /* border: 1px solid red; */
    position: relative;
    top: 250px;
}

.heroContent h6{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.heroContent h1{
    font-size: 48px;
    margin: 0;
    padding: 0;
    line-height: 75px;
    margin-bottom: 8px;
}

.heroContent h3{
    font-size: 22px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    margin-bottom: 120px;
}

/* MAIN STYLING STARTS HERE */

.main{
    width: 50%;
    min-width: 700px;
    margin: 0 auto;
    /* border: 1px solid red; */
    height: 1100px;
    /* overflow-x: hidden; */
}

.boxLayout{
    display: grid;
    grid-template-columns: repeat(2, 330px);
    justify-content: space-between;
    /* border: 1px solid green; */
    width: inherit;
    min-width: inherit;
    margin-bottom: 60px;
}

.verticalBox{
    /* width: 300px; */
    height: 500px;
    background-color: var(--lightGrey);
    /* display: inline-block; */
    position: relative;
}

.verticalBox:nth-of-type(1){
    /* background-color: blue; */

}

.verticalBox .card1Img{
    position: absolute;
    /* top: -100px; */
    min-width: 900px;
    /* border: 2px solid green; */
    left: -330px;
    top: -240px;
}

.verticalBox:nth-of-type(1) .info{
    /* border: 1px solid red; */
    position: absolute;
    bottom: 15px;
    padding: 30px;
    padding-bottom: 10px;

}

.verticalBox:nth-of-type(1) .info h3{
    margin: 0;
    margin-bottom: 15px;
}

.verticalBox:nth-of-type(1) .info p{
    margin: 0;
    margin-bottom: 35px;
}

.main h3{
    font-size: 22px;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.main p{
    font-size: 13px;
    margin-bottom: 025px;
}

.verticalBox .card2Img{
    position: absolute;
    /* top: -100px; */
    min-width: 775px;
    /* border: 2px solid green; */
    /* left: -330px; */
    /* top: -240px; */
    bottom: -210px;
    left: -185px;
}

.verticalBox:nth-of-type(2) .info{
    /* border: 1px solid red; */
    position: absolute;
    top: 0px;
    padding: 30px;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-right: 50px;

}

.verticalBox:nth-of-type(2) .info h3{
    margin: 0;
    margin-bottom: 15px;
}

.verticalBox:nth-of-type(2) .info p{
    margin: 0;
    margin-bottom: 35px;
}

.horizontalBox{
    width: 100%;
    height: 300px;
    /* border: 1px solid green; */
    position: relative;
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: var(--lightGrey);
}

.horizontalBox .poster{
    width: 310px;
}

.horizontalBox .info{
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 40px;
}

.info h3{
    font-size: 22px;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.info p{
    font-size: 13px;
    margin-bottom: 025px;
}

.info a{
    /* border: 1px solid red; */
    position: relative;
    left: -13px;
}

/* .verticalBox img{
    position: absolute;
} */

.main img{
    /* border: 1px solid red; */
}

.moreWork{
    position: relative;
    z-index: 1000;
    top: 180px;
    left: 50%;
    display: inline-block;
    transform: translateX(-50%);
}

.about {
    color: white;
    background-color: var(--black);
    /* margin: 0; */
    margin-top: 100px;
    padding-top: 70px;
    padding-bottom: 30px;
    height: 1120px;
    position: relative;
}

.about .info{
    width: 75%;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.about .info h1, .about .info h3, .about .info h4, .about .info h5, .about .info h6, .about .info p{
    max-width: 50%;
}

.about .info h1{
    font-size: 48px;
    margin-bottom: 20px;
}

.about .info h3{
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 70px;
}

.about .info p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
}

.about .info #portrait{
    position: absolute;
    top: 70px;
    right: 0;
    width: 45%;
}

.about .info .expAndEduLayout{
    position: relative;
    top: -40px;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;
}

.about .expAndEduLayout h4{
    max-width: 100%;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--primary);
    font-size: 14px;
}

.about .expAndEduLayout h5{
    max-width: 100%;
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    padding-top: 0;
    /* border: 1px solid red; */
}

.about .expAndEduLayout h6{
    /* color: #969696; */
    font-size: 13px; 
    /* border: 1px solid red; */
    font-weight: 400;
    margin-top: 0;
    padding-top: 0;
    opacity: .5;
}

.about .experience, .educationAndContact{
    /* border: 1px solid red; */
}

.about .experience, .educationAndContact h4:nth-of-type(2){
    /* border: 1px solid red; */
    margin-top: 40px;
}

.about .info .jobSeeking{
    position: relative;
    /* top: 30px; */
    /* border: 1px solid red; */
    /* height: fit-content; */
    /* height: 120px; */
    padding: 30px;
}

.about .jobSeeking h3{
    margin-bottom: 30px;
}

.about .jobSeeking a{
    /* border: 1px solid green; */
    margin-left: 12px;
}

.about .jobSeeking .button{
    /* background-color: black; */
    color: white;
}

.about .info .socialList{
    display: none;
    /* border: 1px solid red; */
    text-align: center;
    /* width: 100%; */
    /* left:  */
}

.about .info .socialList li{
    display: inline-block;
    padding: 8px 12px;
}

.about .info .socialList a, .about .info .socialList a:visited{
    text-decoration: none;
    color: var(--primary);
    font-size: 14px;
}  


@media(max-width: 1000px){
    .about{
        /* background-color: blue; */
        height: fit-content;
    }

    .about .info #portrait{
        position: relative;
        display: block;
        width: 100%;
        margin: 0 auto;
        top: 20px;
        margin-bottom: 30px;
        /* border: 1px solid red; */
    }

    .about .info h1, .about .info h3, .about .info h4, .about .info h5, .about .info h6, .about .info p{
        max-width: 100%;
    }

    .info {
        max-width: 80%;
        width: 80%;
        margin: 0 auto;
        /* border: 1px solid green; */
    }

    .about .info h3{
        margin-bottom: 30px;
    }

    .about .info .expAndEduLayout{
        width: 100%;
    }

    .about .info .jobSeeking{
        top: 0px;
    }

    nav {
        /* position: absolute; */
        height: 0;
    }

    nav .socialList{
        display: none;
    }

    nav #logo{
        position: relative;
        display: inline-block;
    }

    nav .navList{
        position: relative;
        /* background-color: green; */
        float: right;
    }

    nav .navList li{
        display: inline-block;
    }

    .hero .searchStatus{
        display: none;
    }

    .about .info .socialList{
        display: block;
        text-align: left;
        padding-left: 10px;
    }

    .about .info .socialList li{
    }

    .verticalBox:nth-of-type(2) .info{
        
    }

    .about .info .jobSeeking{
        padding-left: 0;
    }
}

@media (max-width: 900px) {

    .about{
        /* background-color: red; */
    }

    .moreWork{
        top: 50px;
    }

    .main{
        height: fit-content;
        /* border: 1px solid green; */
        min-width: 330px;
    }

    .main .boxLayout{
        grid-template-columns: repeat(1, 1fr);
        /* border: 1px solid red; */
        margin-bottom: 0;
        width: 100%;
    }

    .verticalBox{
        height: 410px;
        margin-bottom: 65px;
    }

    .main .boxLayout .verticalBox{
        max-width: 330px;
        left: 50%;
        transform: translateX(-50%);
    }

    .verticalBox:nth-of-type(2){
        position: relative;
    }

    .verticalBox .card2Img{
        position: absolute;
        min-width: 550px;
        /* border: 2px solid green; */
        left: 0;
        top: 0;
        left: -109px;
        top: -100px;
    }

    .horizontalBox .poster{

    }

    .horizontalBox{
        margin-top: 0;
        grid-template-columns: repeat(1, 1fr);
        max-width: 330px;
        left: 50%;
        transform: translateX(-50%);
        min-height: 410px;
    }
    
    .verticalBox:nth-of-type(2) .info{
        /* border: 1px solid red; */
        /* background-color: blue; */
        position: absolute;
        height: 180px;
        top: 200px;
        padding: 30px;
        padding-bottom: 10px;
        /* margin-bottom: 10px; */
    }
    
    .verticalBox:nth-of-type(1){
        /* margin: 0; */
        /* margin-bottom: 25px; */
    }

    .verticalBox:nth-of-type(1) .info p{
        margin: 0;
        margin-bottom: 35px;
    }

    .verticalBox .card1Img{
        min-width: 400px;
        top: -50px;
        left: -40px;
        width: 100px;
        /* border: 1px solid red; */

    }

    .horizontalBox .poster{
        max-width: 300px;
        position: relative;
        left: 50%;
        top: 15px;
        transform: translateX(-50%);
        display: block;
        /* width: 200px; */
        width: 100%;
    }
    
    .horizontalBox .info{
        padding-top: 10px;
        padding-left: 30px;
    } 

}

@media(max-width: 500px){

    .heroContent{
        top: 150px;
    }

    .heroContent h3{
        margin-bottom: 80px;
    }

    .hero{
        width: calc(100% - 50px);
    }

    .hero h1{
        font-size: 38px;
        line-height: 50px;
    }

    .hero h3{
        font-size: 18px;
    }

    .about {
        /* background-color: lightblue; */
        margin-left: 0;
        margin-right:0;
        padding-left: 0;
        padding-right: 0;
        /* width: 100%; */
        /* max-width: 100%; */
    }

    .about .info {
        margin-left: 0;
        margin-right: 0;
        width: calc(100% - 40px);
        max-width: calc(100% - 40px);
    }

    .about .info .expAndEduLayout{
        grid-template-columns: repeat(1, 1fr);
    }

    .about .info .jobSeeking{
        padding-left: 0px;
        padding-right: 0px;
        /* text-align: center; */
        /* border: 1px solid red; */
    }

    .about .info .socialList li{
        padding-left: 3px;
        padding-right: 3px;
    }

    .about .info .jobSeeking .button{
        /* border: 1px solid red; */
        /* margin-left: 0; */
    }

    #contactTrigger br{
        /* display: block; */
    }


}

