:root{
    --primary: #FF0062;
    --black: #000000;
    --lightGrey: #F6F6F6; 
    --primaryHover: rgb(255, 36, 120);
}

img{
    max-width: 500px;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 13px;
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
    box-sizing: border-box;
}

.accent{
    color: var(--primary);
}

a img{
    width: 10px;
    margin-left: 4px;
}

.accentButton{
    padding: 8px 13px;
    background-color: var(--primary);
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin-right: 13px;
}

.accentButton:hover{
    background-color: var(--primaryHover);
}

.button{
    padding: 8px 13px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.3px;
    position: relative;
}

.button:before{
    content: "";
    position: absolute;
    bottom: 3px;
    left: 13px;
    height: 2.5px;
    width: 0px;
    opacity: 0;
    background-color: var(--primary);
    transition: .3s linear all;
}

.button:hover:before{
    width: calc(100% - 27px);
    opacity: 1;
}


.footerButton{
    padding: 8px 13px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.4px;
    padding-left: 0;
    position: relative;
}

.footerButton:before{
    content: "";
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 2.5px;
    width: 0px;
    opacity: 0;
    background-color: var(--primary);
    transition: .3s linear all;
}

.footerButton:nth-of-type(1):hover:before{
    width: calc(100% - 27px);
    opacity: 1;
}

.footerButton:nth-of-type(2):hover:before{
    width: calc(100% - 14px);
    opacity: 1;
}

.bold{
    font-weight: bold;
}

.upperCase{
    text-transform: uppercase;
}

.space{
    letter-spacing: 1%;
}

nav {
    
}

nav #logo {
    position: fixed;
    width: 22px;
    top: 28px;
    left: 25px;
    /* height: 100px; */
    z-index: 10;
}

nav .navList{
    list-style-type: none;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 28px;
    right: 13px;
    z-index: 10;
}

nav .navList li{
    display: block;
    /* border: 1px solid red; */
    padding: 4px 12px;
    text-align: right;

}

/* nav link animation BELOW */

nav .navList li a{
    position: relative;
    padding: 0 3px;
    z-index: 25;
}

nav .navList li a:before{
    background-color: black;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    transition: 0.2s linear width;
    z-index: -1;
    opacity: 0;

}

nav .navList li a:hover:before{
    width: 100%;
    opacity: 1;
}

nav .navList li a:hover{
    color: white;
}


/* nav link animation ABOVE */

nav .navList a, nav .navList a:visited{
    text-decoration: none;
    color: black;
    font-size: 14px;
}  

nav .socialList{
    position: fixed;
    padding: 0;
    margin: 0;
    bottom: 28px;
    right: 25px;
    z-index: 10;
}

nav .socialList li{
    display: inline-block;
    padding: 8px 12px;
    /* border: 1px solid red; */
}

nav .socialList a, nav .socialList a:visited{
    text-decoration: none;
    color: var(--primary);
    font-size: 14px;
}  

.caseStudy{
    padding-top: 200px;
    position: relative;
    width: 100%;
    /* border: 1px solid red; */
    overflow-x: hidden;
    /* min-height: 5000px; */
}

.caseStudy h2:nth-of-type(1), .caseStudy p:nth-of-type(1), .caseStudy p:nth-of-type(2), .caseStudy p:nth-of-type(3), .caseStudy p:nth-of-type(4){
    max-width: 1100px;
    /* margin: 0 auto; */
    /* border: 1px solid red; */
}

.caseStudy h2{
    font-size: 48px;
    margin: auto;
    margin-bottom: 60px;
    padding: 0 20px;
}

.caseStudy .intro{
    font-size: 24px;
    line-height: 150%;
    margin: auto;
    margin-bottom: 60px;
    /* border: 1px solid red; */
    padding: 0 20px;
}

.caseStudy .subTitle{
    font-size: 24px;
    margin: auto;
    margin-bottom: 10px;
    padding: 0 20px;
}

.caseStudy .img1{
    min-width: 1100px;
    /* border: 1px solid red; */
    display: block;
    margin: 0 auto;
    position: relative;
    top: -40px;
    z-index: -1;
    /* border: 1px solid purple; */
}

.caseStudy .columnStart{
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    top: -80px;
    padding: 0 25px;
    /* height: fit-content; */
}

.subHead{
    font-size: 48px;
    margin-bottom: 30px;
    margin-top: 30px;
}

p{
    font-size: 18px;
    line-height: 175%;
}

.indent1 {
    padding-left: 70px;
}

.columnStart .twoBulletLayout{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid green;
    padding-left: 90px;
}

.singleImg{
    min-width: 100%;
    width: 100%;
    /* margin-top: 20px; */
    /* border: 1px solid red; */
}

#moodBoard{
    position: relative;
    top: -80px;
    z-index: -2;
}

#brandingTitle{
    margin-top: -80px;
}

#logoSolution{
    position: relative;
    top: -100px;
    z-index: -2;
}

#mainLogoSub{
    margin-top: -160px;
}

#logoBrandingImages{
    position: relative;
    top: -130px;
    z-index: -2;
}

#athleticsLogo{
    margin-top: -100px;
}

#athleticsBranding{
    position: relative;
    z-index: -2;
    top: -100px;
}

#moreHead{
    margin-top: -70px;
}

/* #moodBoard{
    position: relative;
    top: -100px;
    z-index: -2;
}

#brandingTitle{
    position: relative;
    top: -100px;
}

#logoSolution{
    position: relative;
    top: -200px;
    z-index: -2;
}

#mainLogoSub{
    position: relative;
    top: -300px;
}

#mainLogoPara{
    position: relative;
    top: -300px;
}

#logoBrandingImages{
    position: relative;
    top: -420px;
    z-index: -2;
}

#athleticsLogo{
    position: relative;
    top: -420px;
}

#athleticsBranding{
    position: relative;
    top: -480px;
    z-index: -2;
}

#moreHead{
    position: relative;
    top: -480px;
}

#moreHeadPara{
    position: relative;
    top: -480px;
}

#problemHead{
    position: relative;
    top: -480px;
}

.problemPara{
    position: relative;
    top: -480px;
}

#curWeb{
    position: relative;
    top: -510px;
    z-index: -2;
}

#redesignedHead{
    position: relative;
    top: -510px;
}

#newWeb{
    position: relative;
    top: -510px;
}

.bringUp{
    position: relative;
    top: -510px;
} */

.indent2 {
    font-size: 16px;
    line-height: 170%;
    padding-left: 120px;
}

.twoImageLayout{
    padding: 0;
    margin: 0;
    /* width: 1000px; */
    max-width: 800px;
    margin-top: 40px;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    /* justify-content: center; */
}

.columnStart #proCon{
    padding-left: 10px;
}

.twoImageLayout img{
    /* max-width: 50%; */
    justify-self: center;
    display: block;
}

.subHead2{
    font-size: 24px;
    /* font-weight: 400; */
    margin-top: 30px;
    margin-bottom: 20px; 
}

#viewFinal, #viewFinal:visited{
    font-size: 24px;
    text-decoration: none;
    color: var(--primary);
}

.finalUpdates{
    font-size: 16px;
    line-height: 170%;
    /* border: 1px solid red; */
}

.indentLi{
    margin-left: 50px;
}

footer{
    background-color: black;
    color: white;
    position: relative;
    width: 100%;
    bottom: 0px;
    padding-left: calc((100% - 800px) / 2);
    padding-right: calc((100% - 800px) / 2);
    min-height: 500px;
    /* border: 1px solid red; */
}

.footerContent{
    /* border: 1px solid red; */
    max-width: 800px;
    padding-top: 50px;
    position: relative;
    height: fit-content;
    padding-left: 25px;
    padding-right: 25px;
}

.footerContent .subHead2{
    color: var(--primary);
}

.footerContent h2{
    font-size: 48px;
    margin: auto;
    margin-bottom: 40px;
}

.caseStudy footer h2{
    padding-left: 0;
   }

.footerContent .jobSeeking{
    margin-top: 50px;
}

.footerContent .jobSeeking h3{
    font-size: 24px;
}

@media(max-width: 1400px) {

    .caseStudy{
        /* background-color: lightblue; */
        /* background-color: rgba(40, 40, 40, 0.3); */
    }

}

@media(max-width: 1100px){
    .caseStudy .img1{
        min-width: 100%;
        width: 100%;
        /* border: 1px solid purple; */
    }

    .caseStudy{
        /* background-color: rgba(255, 255, 0, 0.164); */
    }

}

@media(max-width: 1000px){

    nav {
        /* position: absolute; */
        height: 0;
    }

    nav .socialList{
        display: none;
    }

    nav #logo{
        position: relative;
        display: inline-block;
    }

    nav .navList{
        position: relative;
        /* background-color: green; */
        float: right;
    }

    nav .navList li{
        display: inline-block;
    }
}

@media (max-width: 1000px) {

    .caseStudy {
        /* background-color: rgba(100, 200, 50, 0.5); */
    }

    .caseStudy .img1 {
        /* top: -100px; */
    }

    .caseStudy .columnStart {
        /* top: 20px; */
    }

    footer{
        /* bottom: -280px; */
    }

}

@media (max-width: 770px) {

    .caseStudy .img1{
        top: -10px;
    }

    .caseStudy .columnStart {
        top: -50px;
    }

    .caseStudy{
        /* background-color: rgba(200, 20, 20, 0.4) */
    }

    .columnStart .imgAndContentLayout{
        grid-template-columns: repeat(1, 1fr);
    }

    #wireFrame1{
        display: block;
        /* margin: 0 auto; */
    }

    .caseStudy h2, .footerContent h2, .subHead{
        font-size: 38px;
    }

    .caseStudy .intro, .caseStudy .subTitle, .footerContent .subHead2, .footerContent .jobSeeking h3{
        font-size: 18px;
    }

}

@media (max-width: 800px) {

    .twoImageLayout{
        min-width: 100%;
        width: 100%;
        /* grid-template-columns: repeat(2, 1fr); */
    }

    .twoImageLayout img{
        width: 100%;
    }

}

@media(max-width: 650px){
    .caseStudy {
        /* background-color: rgba(100, 20, 200, 0.5); */
    }

    .caseStudy .img1{
        /* top: -70px; */
    }

    .caseStudy .columnStart{
        /* top: -180px; */
    }

    .indent1 {
        padding-left: 40px;
    }

    .columnStart .twoBulletLayout{
        padding-left: 60px;
        /* background-color :red; */
    }

    .indent2{
        padding-left: 80px;
    }
    footer{
        /* bottom: -320px; */
    }

    #moodBoard{
        position: relative;
        top: -65px;
        z-index: -2;
    }
    
    #brandingTitle{
        margin-top: -65px;
    }
    
    #logoSolution{
        position: relative;
        top: -85px;
        z-index: -3;
    }
    
    #mainLogoSub{
        margin-top: -140px;
    }
    
    #logoBrandingImages{
        position: relative;
        top: -110px;
        z-index: -2;
    }
    
    #athleticsLogo{
        margin-top: -90px;
    }
    
    #athleticsBranding{
        position: relative;
        z-index: -2;
        top: -60px;
    }
    
    #moreHead{
        margin-top: -50px;
    }

    /* #moodBoard{
        position: relative;
        top: -60px;
        z-index: -2;
    }
    
    #brandingTitle{
        position: relative;
        top: -90px;
    }
    
    #logoSolution{
        position: relative;
        top: -170px;
        z-index: -2;
    }
    
    #mainLogoSub{
        position: relative;
        top: -270px;
    }
    
    #mainLogoPara{
        position: relative;
        top: -270px;
    }
    
    #logoBrandingImages{
        position: relative;
        top: -380px;
        z-index: -2;
    }
    
    #athleticsLogo{
        position: relative;
        top: -400px;
    }
    
    #athleticsBranding{
        position: relative;
        top: -460px;
        z-index: -2;
    }
    
    #moreHead{
        position: relative;
        top: -480px;
    }
    
    #moreHeadPara{
        position: relative;
        top: -480px;
    }
    
    #problemHead{
        position: relative;
        top: -480px;
    }
    
    .problemPara{
        position: relative;
        top: -480px;
    }
    
    #curWeb{
        position: relative;
        top: -500px;
        z-index: -2;
    }
    
    #redesignedHead{
        position: relative;
        top: -510px;
    }
    
    #newWeb{
        position: relative;
        top: -510px;
    }
    
    .bringUp{
        position: relative;
        top: -510px;
    } */
}

@media(max-width: 450px){
    .caseStudy {
        /* background-color: rgba(20, 220, 200, 0.5); */
    }

    .caseStudy .img1{
        top: 0px;
    }

    .caseStudy .columnStart{
        top: 0px;
    }

    .twoImageLayout{
        grid-template-columns: repeat(1, 1fr);
    }

    .twoImageLayout img{
        width: 80%;
    }


    .columnStart .twoBulletLayout{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    .indent1 {
        padding-left: 25px;
    }

    .columnStart .twoBulletLayout{
        padding-left: 40px;
        /* background-color :red; */
    }

    .indent2{
        padding-left: 60px;
    }

    #wireFrame1{
        display: block;
        margin: 0 auto;
    }

    .footerContent{
        padding-top: 10px;
    }

    footer {
        min-height: 450px;
        padding-bottom: 30px;
        /* bottom: -400px; */
    }

    #moodBoard{
        position: relative;
        top: -30px;
        z-index: -2;
    }
    
    #brandingTitle{
        margin-top: -30px;
    }
    
    #logoSolution{
        position: relative;
        top: -60px;
        z-index: -3;
    }
    
    #mainLogoSub{
        margin-top: -90px;
    }
    
    #logoBrandingImages{
        position: relative;
        top: -60px;
        z-index: -2;
    }
    
    #athleticsLogo{
        margin-top: -50px;
    }
    
    #athleticsBranding{
        position: relative;
        z-index: -2;
        top: -40px;
    }
    
    #moreHead{
        margin-top: -30px;
    }

    /* #moodBoard{
        position: relative;
        top: -40px;
        z-index: -2;
    }
    
    #brandingTitle{
        position: relative;
        top: -60px;
    }
    
    #logoSolution{
        position: relative;
        top: -110px;
        z-index: -2;
    }
    
    #mainLogoSub{
        position: relative;
        top: -180px;
    }
    
    #mainLogoPara{
        position: relative;
        top: -180px;
    }
    
    #logoBrandingImages{
        position: relative;
        top: -250px;
        z-index: -2;
    }
    
    #athleticsLogo{
        position: relative;
        top: -260px;
    }
    
    #athleticsBranding{
        position: relative;
        top: -300px;
        z-index: -2;
    }
    
    #moreHead{
        position: relative;
        top: -310px;
    }
    
    #moreHeadPara{
        position: relative;
        top: -320px;
    }
    
    #problemHead{
        position: relative;
        top: -320px;
    }
    
    .problemPara{
        position: relative;
        top: -330px;
    }
    
    #curWeb{
        position: relative;
        top: -350px;
        z-index: -2;
    }
    
    #redesignedHead{
        position: relative;
        top: -360px;
    }
    
    #newWeb{
        position: relative;
        top: -350px;
    }
    
    .bringUp{
        position: relative;
        top: -350px;
    } */

    .caseStudy footer h2{
        padding-left: 0;
       }
}
